.todo-wrapper{
    width:350px;
    background-color: #FFE3CC;
    display: flex;
    flex-direction: column;
    border-radius:5px;
    padding: 15px;
}

.todo-form form{
    display: flex;
    justify-content: space-between;
}

.todo-form input{
    background-color: #DCC3A1;
}

.todo-form button{
    background-color:#8F797E;
    color:white;
    border-radius: 5px;
}
.todo-form button:hover{
    cursor: pointer;
}

.todo-list-wrapper p{
    padding-bottom:10px;
    border-bottom: 1px solid yellowgreen;
}

.todo-list-wrapper p:last-child{
    padding-bottom: 0;
    border-bottom: none;
}

.default-todo{
    text-align: center;
    font-weight: 500;
    font-size: large;
}

.incoming-todo-item{
    display: flex;
    justify-content: space-between;
}

.task-complete{
    text-decoration: line-through;
}

.incoming-todo-item .delete-btn i:hover{
    cursor: pointer;
}
