.todo-wrapper{
    width:350px;
    background-color: #FFE3CC;
    display: flex;
    flex-direction: column;
    border-radius:5px;
    padding: 15px;
}

.top-half{
    display: flex;
    justify-content: space-between;
}

.top-half input{
    background-color: #DCC3A1;
}

.top-half button{
    background-color:#8F797E;
    color:white;
    border-radius: 5px;
}
.top-half button:hover{
    cursor: pointer;
}
/* .todo-item{
    padding:10px;
    border-bottom: 1px solid yellowgreen;
}

.todo-item:last-child{
    padding:10px;
    border-bottom: none;
} */

.todo-list-wrapper p{
    padding-bottom:10px;
    border-bottom: 1px solid yellowgreen;
}

.todo-list-wrapper p:last-child{
    padding-bottom: 0;
    border-bottom: none;
}