.edit-todo-wrapper{
    display: flex;
    flex-direction: column;
    background-color: #FFE3CC;
    border:2px solid #8F797E;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius:5px;
    padding: 15px;
    position: fixed;
    z-index: 2;
    width:350px;
    display: none;
}

.edit-todo-wrapper input{
    height:1.5rem;
    margin-bottom: 1rem;
    background-color: #DCC3A1;
}

.edit-todo-button{
    display: flex;
    justify-content: space-around;
}

.edit-todo-button button{
    background-color:#8F797E;
    color:white;
    border-radius: 5px;
}

.todo-wrapper{
    width:350px;
    background-color: #FFE3CC;
    display: flex;
    flex-direction: column;
    border-radius:5px;
    padding: 15px;
    border:2px solid #8F797E;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow effect */
    transition: box-shadow 0.3s ease; /* Add transition effect */
    position: relative;
    z-index: 1;
}

.todo-wrapper:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Change shadow on hover */
}

.todo-form form{
    display: flex;
    justify-content: space-between;
}

.todo-form input{
    background-color: #DCC3A1;
}

.todo-form button{
    background-color:#8F797E;
    color:white;
    border-radius: 5px;
}
.todo-form button:hover{
    cursor: pointer;
}

.todo-list-wrapper p{
    padding-bottom:10px;
    border-bottom: 1px solid yellowgreen;
}

.todo-list-wrapper p:last-child{
    padding-bottom: 0;
    border-bottom: none;
}

.default-todo{
    text-align: center;
    font-weight: 500;
    font-size: large;
}

.incoming-todo-item{
    display: flex;
    justify-content: space-between;
}

.task-complete{
    text-decoration: line-through;
}

.incoming-todo-item .delete-edit{
    width:15%;
    display: flex;
    justify-content: space-between;
}

.incoming-todo-item .delete-edit i:hover{
    cursor: pointer;
}
